Repository IrinaSing/practice-code-review, pull requests merged in 2021-05, with the labels that each got.

#7 Deep flat
  package-lock.json
  package.json
  src/deep-flat/README.md
  src/deep-flat/deep-flat-built-in-flat/README.md
  src/deep-flat/deep-flat-built-in-flat/deep-flat.format-pass.txt
  src/deep-flat/deep-flat-built-in-flat/deep-flat.js
  src/deep-flat/deep-flat-built-in-flat/deep-flat.lint-pass.txt
  src/deep-flat/deep-flat-built-in-flat/deep-flat.spec.js
  src/deep-flat/deep-flat-built-in-flat/deep-flat.test-pass.txt
  src/deep-flat/deep-flat-built-in-flat/sandbox.js
  src/sort-numbers/example-built-in-sort/sort-numbers.format-pass.txt
Labels: built-in method, deep-flat

#8 Intersection
  src/intersection/README.md
  src/intersection/intersection-solution/README.md
  src/intersection/intersection-solution/intersection.format-pass.txt
  src/intersection/intersection-solution/intersection.js
  src/intersection/intersection-solution/intersection.lint-pass.txt
  src/intersection/intersection-solution/intersection.spec.js
  src/intersection/intersection-solution/intersection.test-pass.txt
  src/intersection/intersection-solution/sandbox.js
Labels: for/of loop & if statement, intersection

#11 Intersection solution 2
  .vscode/settings.json
  src/intersection/intersection-solution-2/README.md
  src/intersection/intersection-solution-2/intersection.format-pass.txt
  src/intersection/intersection-solution-2/intersection.js
  src/intersection/intersection-solution-2/intersection.lint-pass.txt
  src/intersection/intersection-solution-2/intersection.spec.js
  src/intersection/intersection-solution-2/intersection.test-pass.txt
  src/intersection/intersection-solution-2/sandbox.js
Labels: built-in method, intersection

#14 added difference challenge
  src/difference/difference-solution/README.md
  src/difference/difference-solution/difference.js
  src/difference/difference-solution/difference.lint-pass.txt
  src/difference/difference-solution/difference.spec.js
  src/difference/difference-solution/difference.test-pass.txt
  src/difference/difference-solution/sandbox.js
Labels: difference
